<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag "static_editors", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>

<body>
  <%= render 'static_editors/header' %>
  <%= render 'voxels/container' %>
  <%= render 'static_editors/footer' %>
</body>
