<h1>作品一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザ名(User)</th>
      <th>タイトル(Title)</th>
      <th>データ(Voxeljson)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voxels.each do |voxel| %>
      <tr>
        <td><%= voxel.user_id %></td>
        <td><%= voxel.title %></td>
        <td><%= voxel.voxeljson %></td>
        <td><%= link_to '表示', voxel %></td>
        <td><%= link_to '編集', edit_voxel_path(voxel) %></td>
        <td><%= link_to '削除', voxel, method: :delete, data: { confirm: 'Really?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>
<%= link_to '新規作成', new_voxel_path, :class=>'btn btn-warning' %>
