<br>
<br>
<div class="container">

<%# UI %>
<%= link_to '新規作成', new_voxel_path, :class=>'btn btn-warning col-lg-3' %><br><br>
<%= link_to '作品をシャッフル表示', 'random', :class=>'btn btn-success col-lg-3' %><br><br>
<%= link_to 'モデルを利用したゲーム(まだ)', '#', :class=>'btn btn-primary col-lg-3' %><br><br>

<h1>作品一覧 (最新順)</h1>
<br>

<%# リスト%>
<table style="align:center;">
  <thead>
    <tr>
      <th>ユーザID(User)</th>
      <th>作品名(Title)</th>
      <th>データ(Voxeljson)</th>
      <th>作成日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voxels.each do |voxel| %>
      <tr>
        <td><%= voxel.user_id %></td>
        <td><%= voxel.title %></td>
        <td><%= truncate(voxel.voxeljson, :length=>20) %></td>
        <td><%= voxel.created_at%></td>
        <td><%= link_to '表示', voxel, :class=>'btn btn-primary' %></td>
        <%#
        <td><%= link_to '編集', edit_voxel_path(voxel) %></td>
        <%#
        <td><%= link_to '削除', voxel, method: :delete, data: { confirm: 'Really?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

</div>